textarea.ng-dirty.ng-touched.ng-invalid,
input.ng-dirty.ng-touched.ng-invalid {
  border: 2px solid color("error");
}

.input {
  margin-bottom: $spacing * 0.75;
}

.input input,
.input textarea,
.input .file {
  width: 100%;
  padding: 5px;
  min-width: 200px;
  border-radius: 2px;
  border: 1px solid lightgray;
  resize: none;
}

.input .file {
  @include themify {
    background: $secondary;
  }
  color: white;
  border: none;
}

.input input[type="checkbox"] {
  width: auto;
  min-width: 0;
  margin: 0 5px;
}

.input input[type="file"] {
  display: none;
}
