<div class="row center p">
  <h1 class="mb col-12">{{ 'auth.passwordEdition' | translate }}</h1>

  <form #form="ngForm"
        class="t-left"
        (ngSubmit)="submit(form.form.value)"
        [mustMatch]="['password', 'confirmPassword']"
        novalidate
        class="t-left col-12 col-6-sm col-4-md col-3-lg col-2-xl">

    <app-input type="password"
               name="password"
               label="user.password"
               placeholder="user.password"
               icon="vpn_key"
               [required]="true"
               regex="password">
    </app-input>

    <app-input type="password"
               name="confirmPassword"
               label="user.confirmPassword"
               placeholder="user.password"
               icon="vpn_key"
               [required]="true"
               regex="password">
    </app-input>

    <button class="btn col-12 waiter"
            type="submit"
            [disabled]="form.invalid">
      {{ 'actions.edit' | translate }}
    </button>
  </form>

  <p class="m col-12">
    <a [routerLink]="['/auth/login']"
       class="link">
      {{ 'auth.login' | translate }}
    </a>
  </p>
</div>
