<div class="row center p">
  <h1 class="mb col-12">{{ 'auth.forgotPassword' | translate }}</h1>

  <form #form="ngForm"
        (ngSubmit)="submit(form.form.value)"
        novalidate
        class="t-left col-12 col-6-sm col-4-md col-3-lg col-2-xl">

    <app-input type="email"
               name="email"
               label="user.email"
               placeholder="user.email"
               icon="email"
               [required]="true"
               regex="email">
    </app-input>

    <button class="btn col-12 waiter"
            type="submit"
            [disabled]="form.invalid">
      {{ 'actions.send' | translate }}
    </button>
  </form>

  <p class="pt col-12">
    <a [routerLink]="['/auth/login']"
       class="link">
      {{ 'auth.login' | translate }}
    </a>
  </p>
</div>
